<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil Docente</ion-title>
    <ion-buttons slot="end">
      <ion-back-button
        defaultHref="/"
        text=""
        color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>


<ion-content [fullscreen]="true" class="fondohome">
  
<ion-card>


  <img src="../assets/docente.png">
  <ion-list>

    <ion-item>
      <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Nombre Docente</h2>
        <p>Juan Guillermo Lecaros Duarte</p>
      </ion-label>
    </ion-item>

    


      </ion-list>
      <ion-item>
        <ion-select label="Período académico" placeholder="Seleccionar">
          <ion-select-option value="1">Período 1 </ion-select-option>
          <ion-select-option value="2">Período 2</ion-select-option>
          <ion-select-option value="3">Período 3</ion-select-option>
          <ion-select-option value="4">Período 4</ion-select-option>
          <ion-select-option value="5">Período 5</ion-select-option>
          <ion-select-option value="6">Período 6</ion-select-option>
          <ion-select-option value="7">Período 7</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-select label="Asignatura" placeholder="Seleccionar">
          <ion-select-option value="asig1">Asignatura 1 </ion-select-option>
          <ion-select-option value="asig2">Asignatura 2</ion-select-option>
          <ion-select-option value="asig3">Asignatura 3</ion-select-option>
          <ion-select-option value="asig4">Asignatura 4</ion-select-option>
          <ion-select-option value="asig5">Asignatura 5</ion-select-option>
          <ion-select-option value="asig6">Asignatura 6</ion-select-option>
          <ion-select-option value="asig7">Asignatura 7</ion-select-option>
        </ion-select>
      </ion-item>
  
  
      
      <ion-datetime presentation="date" [preferWheel]="true"></ion-datetime>
      <ion-item>
        <ion-select label="Sala de clase asignada" placeholder="Seleccionar">
          <ion-select-option value="profe1">Clase 1</ion-select-option>
          <ion-select-option value="profe2 ">Clase 2</ion-select-option>
          <ion-select-option value="profe3">Clase 3</ion-select-option>
          <ion-select-option value="profe4">Clase 4</ion-select-option>
          <ion-select-option value="profe5">Clase 5</ion-select-option>
          <ion-select-option value="profe6">Clase 6</ion-select-option>
          <ion-select-option value="profe7">Clase 7</ion-select-option>
        </ion-select>
      </ion-item>
     
   



  
    

