ion-card-title{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}
img{
    
    height: 23vh;
    width: auto;
    margin: auto;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
   
}