

ion-card-title{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
img{
    
    height: 23vh;
    width: auto;
    margin: auto;
    display: block;
    border-radius: 50px;
    margin-top: 10px;
   
}

p{
    text-align: center;
}

div{
    font-size: 10px;
}