<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Justificar Asistencia
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button
        defaultHref="/"
        text=""
        color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondohome">
  
  
 
    <ion-list [inset]="true">
      <ion-item>
        <ion-input label="Nombre completo:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Asignatura" placeholder="Seleccionar">
          <ion-select-option value="">Asignatura 1 </ion-select-option>
          <ion-select-option value="">Asignatura 2</ion-select-option>
          <ion-select-option value="">Asignatura 3</ion-select-option>
          <ion-select-option value="">Asignatura 4</ion-select-option>
          <ion-select-option value="">Asignatura 5</ion-select-option>
          <ion-select-option value="">Asignatura 6</ion-select-option>
          <ion-select-option value="">Asignatura 7</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Profesor" placeholder="Seleccionar">
          <ion-select-option value="">Profesor 1</ion-select-option>
          <ion-select-option value="">Profesor 2</ion-select-option>
          <ion-select-option value="">Profesor 3</ion-select-option>
          <ion-select-option value="">Profesor 4</ion-select-option>
          <ion-select-option value="">Profesor 5</ion-select-option>
          <ion-select-option value="">Profesor 6</ion-select-option>
          <ion-select-option value="">Profesor 7</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-toggle>
          <ion-label>Enviar a correo electrónico</ion-label>
         
        </ion-toggle>
      </ion-item>
    </ion-list>
  
    <ion-list [inset]="true">
      <ion-item>
        <ion-textarea label="Comentarios" labelPlacement="floating" rows="5"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-card></ion-card>
  
    <div style="text-align: center;">
      <ion-button (click)="login()" fill="solid" shape="round" color="primary" style="padding-bottom: 10px;">
        Justificar
      </ion-button>
    </div>

 
  </ion-content>
