<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Lista  Estudiantes
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button
        defaultHref="/"
        text=""
        color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondohome">
  <ion-header collapse="condense">
   
  </ion-header>

  <ion-header>
    
  </ion-header>
  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Juan </ion-label>
          <ion-avatar aria-hidden="true" slot="end">
            <img alt="" src="../assets/verde.png" />
          </ion-avatar>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Diego</ion-label>
          <ion-avatar aria-hidden="true" slot="end">
            <img alt="" src="../assets/verde.png" />
          </ion-avatar>
          
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Tomas</ion-label>
          <ion-avatar aria-hidden="true" slot="end">
            <img alt="" src="../assets/a.png" />
          </ion-avatar>
          
        </ion-item>
        
        <ion-item-options slot="end">
          <ion-item-option color="warning">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Mauricio</ion-label>
          <ion-avatar aria-hidden="true" slot="end">
            <img alt="" src="../assets/a.png" />
          </ion-avatar>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Manuel</ion-label>
          <ion-avatar aria-hidden="true" slot="end">
            <img alt="" src="../assets/verde.png" />
          </ion-avatar>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Alfonso</ion-label>
          <ion-avatar aria-hidden="true" slot="end">
            <img alt="" src="../assets/a.png" />
          </ion-avatar>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Carlos</ion-label>
          <ion-avatar aria-hidden="true" slot="end">
            <img alt="" src="../assets/verde.png" />
          </ion-avatar>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>